<nav class="navbar-component">
    <button class="navbar-component__btn" type="button">
        <span class="material-symbols-outlined navbar-component__btn__icon">
            interpreter_mode
        </span>
    </button>
    <h1 class="navbar-component__title">
        LanguageGPT
    </h1>
    <button class="navbar-component__btn" type="button" (click)="showModal()">
        <i class="material-symbols-outlined navbar-component__btn__icon">
            settings
        </i>
    </button>
</nav>